export PATH="$HOME/bin:$PATH"
export PATH="/usr/local/sbin:$PATH"
export PATH="/usr/texbin:$PATH"
export PATH="$HOME/.cabal/bin:$PATH"
export PATH="$HOME/.composer/vendor/bin:$PATH"

# export PATH="$(brew --prefix homebrew/php/php54)/bin:$PATH"
# export PATH="$(brew --prefix homebrew/php/php56)/bin:$PATH"

export EDITOR="vim";

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768;
export HISTFILESIZE=$HISTSIZE;
export HISTCONTROL=ignoredups;
# Make some commands not show up in history
# export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help";

# Highlight section titles in manual pages
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X";

# Always enable colored `grep` output
export GREP_OPTIONS="--color=auto";

# Link Homebrew casks in `/Applications` rather than `~/Applications`
export HOMEBREW_CASK_OPTS="--appdir=/Applications";

# Set locale info
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8

# Syntax highlighting of less
export LESSOPEN="| pygmentize %s"

# antlr4 classpath definition
export CLASSPATH=".:/usr/local/Cellar/antlr/4.5/antlr-4.5-complete.jar:$CLASSPATH"

export DOCKER_TLS_VERIFY=1
export DOCKER_HOST=tcp://localhost:2376
export DOCKER_CERT_PATH=/Users/martin/.docker/machine/machines/default
export DOCKER_MACHINE_NAME=default

