[submodule ".zsh-antigen/antigen"]
	path = .zsh-antigen/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = http://github.com/gmarik/vundle.git
[submodule "tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "init/dircolors-solarized"]
	path = init/dircolors-solarized
	url = git@github.com:seebi/dircolors-solarized.git
[submodule ".irssi/scripts/irssi-smartfilter"]
	path = .irssi/scripts/irssi-smartfilter
	url = git@github.com:lifeforms/irssi-smartfilter.git
