[submodule ".zsh-antigen/antigen"]
	path = .zsh-antigen/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = http://github.com/gmarik/vundle.git
[submodule "tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".tmux/themes/tmux-colors-solarized"]
	path = .tmux/themes/tmux-colors-solarized
	url = git@github.com:seebi/tmux-colors-solarized.git
