[submodule ".zsh-antigen/antigen"]
	path = .zsh-antigen/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = http://github.com/gmarik/vundle.git
[submodule "tpm"]
	path = .tmux/tpm
	url = https://github.com/tmux-plugins/tpm
